#### Contents of the preconfiguration file (for stretch)
# LOCALE
{%- for var in ['language', 'country', 'locale'] %}
{% if debian_installer[var] is not none -%}
d-i debian-installer/{{ var }} string {{ debian_installer[var] }}
{%- endif %}
{%- endfor %}
{%- if localechooser.supported_locales is not none %}
d-i localechooser/supported-locales multiselect {{ localechooser.supported_locales|join(', ') }}
{%- endif %}

# KEYBOARD
{%- if keyboard_configuration.xkb_keymap is not none %}
d-i keyboard-configuration/xkb-keymap select {{ keyboard_configuration.xkb_keymap }}
{%- endif %}
{%- if keyboard_configuration.toggle is not none %}
d-i keyboard-configuration/toggle select {{ keyboard_configuration.toggle }}
{%- endif %}

# NETWORK CONFIG
{%- if netcfg.enable is not none %}
d-i netcfg/enable boolean {{ netcfg.enable|lower }}
{%- endif %}
{%- if netcfg.choose_interface is not none %}
d-i netcfg/choose_interface select {{ netcfg.choose_interface }}
{%- endif %}
{%- if netcfg.link_wait_timeout is not none %}
d-i netcfg/link_wait_timeout string {{ netcfg.link_wait_timeout }}
{%- endif %}
{%- for var in ['dhcp_timeout', 'dhcpv6_timeout'] %}
{% if netcfg[var] is not none -%}
d-i netcfg/{{ var }} string {{ netcfg[var] }}
{%- endif %}
{%- endfor %}
{%- if netcfg.disable_autoconfig is not none %}
d-i netcfg/disable_autoconfig boolean {{ netcfg.disable_autoconfig|lower }}
{%- endif %}
{%- if netcfg.dhcp_failed is not none %}
d-i netcfg/dhcp_failed note
{%- endif %}
{%- if netcfg.dhcp_options %}
d-i netcfg/dhcp_options select {{ netcfg.dhcp_options }}
{%- endif %}
{%- for var in ['get_ipaddress', 'get_netmask', 'get_gateway', 'get_nameservers'] %}
{% if netcfg[var] is not none -%}
d-i netcfg/{{ var }} string {{ netcfg[var] }}
{%- endif %}
{%- endfor %}
{%- if netcfg.confirm_static is not none %}
d-i netcfg/confirm_static boolean {{ netcfg.confirm_static|lower }}
{%- endif %}

# NETWORK CONSOLE
{%- if anna.choose_modules is not none %}
d-i anna/choose_modules string {{ anna.choose_modules }}
{%- endif %}
{%- if network_console.authorized_keys_url is not none %}
d-i network-console/authorized_keys_url string {{ network_console.authorized_keys_url }}
{%- endif %}
{%- for var in ['password', 'password-again'] %}
{% if network_console[var] is not none -%}
d-i network-console/{{ var }} password {{ network_console[var] }}
{%- endif %}
{%- endfor %}

# MIRROR SETTINGS
d-i mirror/country string manual
{%- for var in ['hostname', 'directory', 'proxy'] %}
{% if mirror[var] is not none -%}
d-i mirror/http/{{ var }} string {{ mirror[var] }}
{%- endif %}
{%- endfor %}
{%- if mirror.suite is not none  %}
d-i mirror/suite {{ mirror.suite }}
{% endif %}
{%- if mirror.udeb_suite is not none  %}
d-i mirror/udeb/suite {{ mirror.udeb_suite }}
{% endif %}

